---
import Layout from "../../layouts/Layout.astro";
import List from "../../layouts/List.astro";
import Pagetitle from "../../layouts/Pagetitle.astro";
// import Othertext from "../../layouts/Othertext.astro";
// import { Image } from 'astro:assets';
---

<Layout title="Collection">
	<Pagetitle
	pagetitle="Коллекция"
	/>
<section class="image-gallery">
	<div class="image-row">
		<List
		enname="Токены"
		link="/Collection/Tokens/"
		img="/images/scryfall/tokens/goblin-tugl.jpg"
		/>
		<List
		enname="Существа гоблины"
		link="/Collection/Creatures/"
		img="https://cards.scryfall.io/normal/front/b/9/b91859de-1983-4c9c-a9e6-289c7dba1eb4.jpg?1686968799"
		/>
		<List
		enname="Карты с гоблинами"
		link="#"
		img="https://cards.scryfall.io/normal/front/6/9/6964c3d5-4bb7-46b1-a057-878af73f2e5f.jpg?1562917032"
		/>
	</div>
</section>
</Layout>