---
import Layout from "../../layouts/Layout.astro";
import List from "../../layouts/List.astro";
import Pagetitle from "../../layouts/Pagetitle.astro";
---

<Layout title="Collection">
	<Pagetitle
	pagetitle="Коллекция"
	/>
<section class="image-gallery">
	<div class="image-row">
		<List
			enname="Токены"
			link="/Collection/Tokens/"
			img="/images/scryfall/tokens/goblin-tugl.jpg"
		/>
		<List
			enname="Planeswalkers"
			link="/Collection/Planeswalkers/"
			img="/images/scryfall/planeswalkers/daretti-scrap-savant-c14.jpg"
		/>
		<List
			enname="Существа гоблины"
			link="/Collection/Creatures/"
			img="/images/scryfall/creatures/goblin-king-7ed.jpg"
		/>
		<List
			enname="Карты с гоблинами"
			link="#"
			img="/images/scryfall/other/goblin-war-drums-fem-58a.jpg"
		/>
		<List
			enname="Бонус"
			link="#"
			img="/images/scryfall/bonus/sideboard.jpg"
		/>
	</div>
</section>
</Layout>