---
import Layout from "../../../layouts/Layout.astro";
import List from "../../../layouts/List.astro";
import Pagetitle from "../../../layouts/Pagetitle.astro";
---

<Layout title="Planeswalkers">
	<Pagetitle
		pagetitle="Planeswalkers"
	/>
<section class="image-gallery">
	<div class="image-row">
		<List
			enname="Daretti, Scrap Savant"
			link="/Collection/Planeswalkers/daretti-scrap-savant-c14"
			img="/images/scryfall/planeswalkers/daretti-scrap-savant-c14.jpg"
		/>
		<List
			enname="Daretti, Ingenious Iconoclast"
			link="/Collection/Planeswalkers/daretti-ingenious-iconoclast-cn2"
			img="/images/scryfall/planeswalkers/daretti-ingenious-iconoclast-cn2.jpg"
		/>
	</div>
</section>
</Layout>