---
import Layout from "../../../layouts/Layout.astro";
import List from "../../../layouts/List.astro";
// import { Image } from 'astro:assets';

---

<Layout title="Tokens">
	<section class="image-gallery">
		<div class="image-row">
			<List
			enname="Custom tokens"
			link=""
			img="/images/scryfall/tokens/goblin.jpg"
			/>
			<List
			enname="Goblin"
			link="/Collection/Tokens/goblin-tugl"
			img="/images/scryfall/tokens/goblin-tugl.jpg"
			/>
			<List
			enname="Goblin Soldier"
			link="/Collection/Tokens/goblin_soldier-mpr"
			img="/images/scryfall/tokens/goblin-soldier-mpr.jpg"
			/>
			<List
			enname="Goblin"
			link="/Collection/Tokens/goblin_1_1_P03"
			img="/images/scryfall/tokens/goblin-p03.jpg"
			/>
			<List
			enname="Goblin Rogue"
			link="#"
			img="/images/scryfall/tokens/goblin-rogue-tlrw.jpg"
			/>
			<List
			enname="Goblin Warrior"
			link="#"
			img="/images/scryfall/tokens/goblin-warrior-tshm.jpg"
			/>
			<List
			enname="Tuktuk the Returned"
			link="#"
			img="/images/scryfall/tokens/tuktuk-the-returned-troe.jpg"
			/>
			<List
			enname="Goblin"
			link="#"
			img="/images/scryfall/tokens/goblin-tcn2.jpg"
			/>
			<List
			enname="Goblin"
			link="#"
			img="/images/scryfall/tokens/goblin-tc16.jpg"
			/>
			<List
			enname="Goblin"
			link="#"
			img="/images/scryfall/tokens/goblin-tgk2.jpg"
			/>
			<List
			enname="Goblin Wizard"
			link="#"
			img="/images/scryfall/tokens/goblin-wizard-tm21.jpg"
			/>
			<List
			enname="Goblin Construct"
			link="#"
			img="/images/scryfall/tokens/goblin-construct-tznr.jpg"
			/>
			<List
			enname="Goblin Shaman"
			link="#"
			img="/images/scryfall/tokens/goblin-shaman-tneo.jpg"
			/>
			<List
			enname="Phyrexian Goblin"
			link="#"
			img="/images/scryfall/tokens/phyrexian-goblin-tone.jpg"
			/>
			<List
			enname="Goblin"
			link="#"
			img="/images/scryfall/tokens/goblin-trvr.jpg"
			/>
		</div>
	</section>
</Layout>