.image-gallery {
    width: 100%; 
    max-width: 800px;  
    margin: 0 auto; 
}
  
.image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.image-item {
    margin: 5px;
    text-align: center;
}
  
.image-item img {
    max-width: 250px;
    max-height: 350px;
    border-radius: 15px;
}

.image-item p {
    margin-bottom: 1px;
}

.image-item a { /* тут все про ссылки в List */
    text-decoration: none;
    color: #38128f;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

