---
import Layout from "../../../layouts/Layout.astro";
import Card from "../../../layouts/Card.astro";
import Scroll from "../../../layouts/Scroll.astro";
import Scrollcard from "../../../layouts/Scrollcard.astro";
import Picture from "../../../layouts/Picture.astro";
import Othertext from "../../../layouts/Othertext.astro";
---

<Layout title="Goblin Matron">
	<Card
		img="/images/scryfall/creatures/goblin-matron-mh1.jpg"
		enname="Goblin Matron"
		runame="Гоблинская Матрона"
		prints="Modern Horizons (2019), Dominaria Remastered (2023)"
		illustrated="Jesper Ejsing"
		link="https://scryfall.com/search?q=a%3A%E2%80%9CJesper+Ejsing%E2%80%9D&order=released&dir=asc&unique=art"
		flavor="Мать, которую лишь ее дитя способно полюбить."
		thanks=""
		other="В Горизонтах Модерна Матрона переиздана на русском языке с новыми иллюстрацией и художественным текстом."
	/>
	<Othertext
		text="Горизонты Модерна - первое издание, где в бустерах в качестве бонуса можно было найти полноформатную иллюстрацию из так называемой «Art Series». На лицевой стороне изображена иллюстрация карты, а на обратной стороне - краткая информация о ней."
	/>

	<div class="content-wrapper">
        <div class="item-wrapper">
            <Picture picture="/images/scryfall/arts/goblin-matron-amh1-17.jpg"/>
        </div>
        <div class="item-wrapper">
            <Picture picture="/images/scryfall/arts/goblin-matron-amh1-17-2.jpg"/>
        </div>
    </div>
	<Scroll>
		<Scrollcard
			img="/images/scryfall/creatures/goblin-matron-p02.jpg"
			link="/Collection/Creatures/goblin-matron-p02"
		/>
		<Scrollcard
			img="/images/scryfall/creatures/goblin-matron-usg.jpg"
			link="/Collection/Creatures/goblin-matron-usg"
		/>
		<Scrollcard
			img="/images/scryfall/creatures/goblin-matron-7ed.jpg"
			link="/Collection/Creatures/goblin-matron-7ed"
		/>
		<Scrollcard
			img="/images/scryfall/creatures/goblin-matron-dd1.jpg"
			link="/Collection/Creatures/goblin-matron-dd1"
		/>
		<Scrollcard
			img="/images/scryfall/creatures/goblin-matron-mh1.jpg"
			link="/Collection/Creatures/goblin-matron-mh1"
		/>
		<Scrollcard
			img="/images/scryfall/creatures/goblin-matron-sld-1312.jpg"
			link="/Collection/Creatures/goblin-matron-sld-1312"
		/>
	</Scroll>
</Layout>
<style>
    .content-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 800px;
        margin: 0 auto;
    }

	.item-wrapper {
    	width: 400px;
    	text-align: center;
	}
</style>

