---
import Layout from "../../../layouts/Layout.astro";
import List from "../../../layouts/List.astro";
import Pagetitle from "../../../layouts/Pagetitle.astro";
---

<Layout title="Creatures">
	<Pagetitle
		pagetitle="Существа"
	/>
<section class="image-gallery">
	<div class="image-row">
		<List
			enname="Goblin Balloon Brigade"
			link="/Collection/Creatures/goblin-balloon-brigade-lea"
			img="/images/scryfall/creatures/goblin-balloon-brigade-lea.jpg"
		/>
		<List
			enname="Goblin King"
			link="/Collection/Creatures/goblin-king-lea"
			img="/images/scryfall/creatures/goblin-king-lea.jpg"
		/>
		<List
			enname="Mons's Goblin Raiders"
			link="/Collection/Creatures/mons-s-goblin-raiders-lea"
			img="/images/scryfall/creatures/mons-s-goblin-raiders-lea.jpg"
		/>
		<List
			enname="Mons's Goblin Raiders"
			link="/Collection/Creatures/goblin-artisans-atq"
			img="/images/scryfall/creatures/goblin-artisans-atq.jpg"
		/>
		<List
			enname="Goblin Digging Team"
			link="/Collection/Creatures/goblin-digging-team-drk"
			img="/images/scryfall/creatures/goblin-digging-team-drk.jpg"
		/>
		<List
			enname="Goblin Hero"
			link="/Collection/Creatures/goblin-hero-drk"
			img="/images/scryfall/creatures/goblin-hero-drk.jpg"
		/>
		<List
			enname="Goblin Rock Sled"
			link="/Collection/Creatures/goblin-rock-sled-drk"
			img="/images/scryfall/creatures/goblin-rock-sled-drk.jpg"
		/>
		<List
			enname="Goblin Wizard"
			link="/Collection/Creatures/goblin-wizard-drk"
			img="/images/scryfall/creatures/goblin-wizard-drk.jpg"
		/>
		<List
			enname="Goblins of the Flarg"
			link="/Collection/Creatures/goblins-of-the-flarg-drk"
			img="/images/scryfall/creatures/goblins-of-the-flarg-drk.jpg"
		/>
		<List
			enname="Marsh Goblins"
			link="/Collection/Creatures/marsh-goblins-drk"
			img="/images/scryfall/creatures/marsh-goblins-drk.jpg"
		/>
		<List
			enname="Scarwood Goblins"
			link="/Collection/Creatures/scarwood-goblins-drk"
			img="/images/scryfall/creatures/scarwood-goblins-drk.jpg"
		/>
		<List
			enname="Goblin Chirurgeon"
			link="/Collection/Creatures/goblin-chirurgeon-fem-54a"
			img="/images/scryfall/creatures/goblin-chirurgeon-fem-54a.jpg"
		/>
		<List
			enname="Goblin Flotilla"
			link="/Collection/Creatures/goblin-flotilla-fem"
			img="/images/scryfall/creatures/goblin-flotilla-fem.jpg"
		/>
		<List
			enname="Goblin Mutant"
			link="/Collection/Creatures/goblin-mutant-ice"
			img="/images/scryfall/creatures/goblin-mutant-ice.jpg"
		/>
		<List
			enname="Goblin Sappers"
			link="/Collection/Creatures/goblin-sappers-ice"
			img="/images/scryfall/creatures/goblin-sappers-ice.jpg"
		/>
		<List
			enname="Goblin Ski Patrol"
			link="/Collection/Creatures/goblin-ski-patrol-ice"
			img="/images/scryfall/creatures/goblin-ski-patrol-ice.jpg"
		/>
		<List
			enname="Goblin Snowman"
			link="/Collection/Creatures/goblin-snowman-ice"
			img="/images/scryfall/creatures/goblin-snowman-ice.jpg"
		/>
		<List
			enname="Enslaved Scout"
			link="/Collection/Creatures/enslaved-scout-all-71a"
			img="/images/scryfall/creatures/enslaved-scout-all-71a.jpg"
		/>
		<List
			enname="Goblin Elite Infantry"
			link="/Collection/Creatures/goblin-elite-infantry-mir"
			img="/images/scryfall/creatures/goblin-elite-infantry-mir.jpg"
		/>
		<List
			enname="Goblin Soothsayer"
			link="/Collection/Creatures/goblin-soothsayer-mir"
			img="/images/scryfall/creatures/goblin-soothsayer-mir.jpg"
		/>
		<List
			enname="Goblin Tinkerer"
			link="/Collection/Creatures/goblin-tinkerer-mir"
			img="/images/scryfall/creatures/goblin-tinkerer-mir.jpg"
		/>
		<List
			enname="Goblin Recruiter"
			link="/Collection/Creatures/goblin-recruiter-vis"
			img="/images/scryfall/creatures/goblin-recruiter-vis.jpg"
		/>
		<List
			enname="Goblin Swine-Rider"
			link="/Collection/Creatures/goblin-swine-rider-vis"
			img="/images/scryfall/creatures/goblin-swine-rider-vis.jpg"
		/>
		<List
			enname="Keeper of Kookus"
			link="/Collection/Creatures/keeper-of-kookus-vis"
			img="/images/scryfall/creatures/keeper-of-kookus-vis.jpg"
		/>
		<List
			enname="Keeper of Kookus"
			link="/Collection/Creatures/goblin-bully-por"
			img="/images/scryfall/creatures/goblin-bully-por.jpg"
		/>
		<List
			enname="Hulking Goblin"
			link="/Collection/Creatures/hulking-goblin-por"
			img="/images/scryfall/creatures/hulking-goblin-por.jpg"
		/>
		<List
			enname="Raging Goblin"
			link="/Collection/Creatures/raging-goblin-por"
			img="/images/scryfall/creatures/raging-goblin-por.jpg"
		/>
		<List
			enname="Goblin Grenadiers"
			link="/Collection/Creatures/goblin-grenadiers-wth"
			img="/images/scryfall/creatures/goblin-grenadiers-wth.jpg"
		/>
		<List
			enname="Goblin Vandal"
			link="/Collection/Creatures/goblin-vandal-wth"
			img="/images/scryfall/creatures/goblin-vandal-wth.jpg"
		/>
		<List
			enname="Mogg Conscripts"
			link="/Collection/Creatures/mogg-conscripts-tmp"
			img="/images/scryfall/creatures/mogg-conscripts-tmp.jpg"
		/>
		<List
			enname="Mogg Fanatic"
			link="/Collection/Creatures/mogg-fanatic-tmp"
			img="/images/scryfall/creatures/mogg-fanatic-tmp.jpg"
		/>
		<List
			enname="Mogg Raider"
			link="/Collection/Creatures/mogg-raider-tmp"
			img="/images/scryfall/creatures/mogg-raider-tmp.jpg"
		/>
		<List
			enname="Mogg Squad"
			link="/Collection/Creatures/mogg-squad-tmp"
			img="/images/scryfall/creatures/mogg-squad-tmp.jpg"
		/>
		<List
			enname="Mogg Bombers"
			link="/Collection/Creatures/mogg-bombers-sth"
			img="/images/scryfall/creatures/mogg-bombers-sth.jpg"
		/>
		<List
			enname="Mogg Flunkies"
			link="/Collection/Creatures/mogg-flunkies-sth"
			img="/images/scryfall/creatures/mogg-flunkies-sth.jpg"
		/>
		<List
			enname="Mogg Maniac"
			link="/Collection/Creatures/mogg-maniac-sth"
			img="/images/scryfall/creatures/mogg-maniac-sth.jpg"
		/>
		<List
			enname="Mogg Assassin"
			link="/Collection/Creatures/mogg-assassin-exo"
			img="/images/scryfall/creatures/mogg-assassin-exo.jpg"
		/>
		<List
			enname="Goblin Cavaliers"
			link="/Collection/Creatures/goblin-cavaliers-p02"
			img="/images/scryfall/creatures/goblin-cavaliers-p02.jpg"
		/>
		<List
			enname="Goblin Firestarter"
			link="/Collection/Creatures/goblin-firestarter-p02"
			img="/images/scryfall/creatures/goblin-firestarter-p02.jpg"
		/>
		<List
			enname="Goblin General"
			link="/Collection/Creatures/goblin-general-p02"
			img="/images/scryfall/creatures/goblin-general-p02.jpg"
		/>
		<List
			enname="Goblin Glider"
			link="/Collection/Creatures/goblin-glider-p02"
			img="/images/scryfall/creatures/goblin-glider-p02.jpg"
		/>
		<List
			enname="Goblin Matron"
			link="/Collection/Creatures/goblin-matron-p02"
			img="/images/scryfall/creatures/goblin-matron-p02.jpg"
		/>
		<List
			enname="Goblin Mountaineer"
			link="/Collection/Creatures/goblin-mountaineer-p02"
			img="/images/scryfall/creatures/goblin-mountaineer-p02.jpg"
		/>
		<List
			enname="Goblin Piker"
			link="/Collection/Creatures/goblin-piker-p02"
			img="/images/scryfall/creatures/goblin-piker-p02.jpg"
		/>
		<List
			enname="Goblin Raider"
			link="/Collection/Creatures/goblin-raider-p02"
			img="/images/scryfall/creatures/goblin-raider-p02.jpg"
		/>
		<List
			enname="Goblin Bookie"
			link="/Collection/Creatures/goblin-bookie-ugl"
			img="/images/scryfall/creatures/goblin-bookie-ugl.jpg"
		/>
		<List
			enname="Goblin Bowling Team"
			link="/Collection/Creatures/goblin-bowling-team-ugl"
			img="/images/scryfall/creatures/goblin-bowling-team-ugl.jpg"
		/>
		<List
			enname="Goblin Cadets"
			link="/Collection/Creatures/goblin-cadets-usg"
			img="/images/scryfall/creatures/goblin-cadets-usg.jpg"
		/>
		<List
			enname="Goblin Lackey"
			link="/Collection/Creatures/goblin-lackey-usg"
			img="/images/scryfall/creatures/goblin-lackey-usg.jpg"
		/>
		<List
			enname="Goblin Patrol"
			link="/Collection/Creatures/goblin-patrol-usg"
			img="/images/scryfall/creatures/goblin-patrol-usg.jpg"
		/>
		<List
			enname="Goblin Spelunkers"
			link="/Collection/Creatures/goblin-spelunkers-usg"
			img="/images/scryfall/creatures/goblin-spelunkers-usg.jpg"
		/>
		<List
			enname="Goblin War Buggy"
			link="/Collection/Creatures/goblin-war-buggy-usg"
			img="/images/scryfall/creatures/goblin-war-buggy-usg.jpg"
		/>
		<List
			enname="Okk"
			link="/Collection/Creatures/okk-usg"
			img="/images/scryfall/creatures/okk-usg.jpg"
		/>
		<List
			enname="Goblin Medics"
			link="/Collection/Creatures/goblin-medics-ulg"
			img="/images/scryfall/creatures/goblin-medics-ulg.jpg"
		/>
		<List
			enname="Goblin Welder"
			link="/Collection/Creatures/goblin-welder-ulg"
			img="/images/scryfall/creatures/goblin-welder-ulg.jpg"
		/>
	</div>
</section>
</Layout>