---
import Layout from "../../../layouts/Layout.astro";
import List from "../../../layouts/List.astro";
import Pagetitle from "../../../layouts/Pagetitle.astro";
---

<Layout title="Creatures">
	<Pagetitle
		pagetitle="Существа"
	/>
<section class="image-gallery">
	<div class="image-row">
		<List
			enname="Goblin Balloon Brigade"
			link="/Collection/Creatures/goblin-balloon-brigade-lea"
			img="/images/scryfall/creatures/goblin-balloon-brigade-lea.jpg"
		/>
		<List
			enname="Goblin King"
			link="/Collection/Creatures/goblin-king-lea"
			img="/images/scryfall/creatures/goblin-king-lea.jpg"
		/>
		<List
			enname="Mons's Goblin Raiders"
			link="/Collection/Creatures/mons-s-goblin-raiders-lea"
			img="/images/scryfall/creatures/mons-s-goblin-raiders-lea.jpg"
		/>
		<List
			enname="Mons's Goblin Raiders"
			link="/Collection/Creatures/goblin-artisans-atq"
			img="/images/scryfall/creatures/goblin-artisans-atq.jpg"
		/>
		<List
			enname="Goblin Digging Team"
			link="/Collection/Creatures/goblin-digging-team-drk"
			img="/images/scryfall/creatures/goblin-digging-team-drk.jpg"
		/>
		<List
			enname="Goblin Hero"
			link="/Collection/Creatures/goblin-hero-drk"
			img="/images/scryfall/creatures/goblin-hero-drk.jpg"
		/>
		<List
			enname="Goblin Rock Sled"
			link="/Collection/Creatures/goblin-rock-sled-drk"
			img="/images/scryfall/creatures/goblin-rock-sled-drk.jpg"
		/>
		<List
			enname="Goblin Wizard"
			link="/Collection/Creatures/goblin-wizard-drk"
			img="/images/scryfall/creatures/goblin-wizard-drk.jpg"
		/>
	</div>
</section>
</Layout>