---
import Layout from "../../../layouts/Layout.astro";
import List from "../../../layouts/List.astro";
import Pagetitle from "../../../layouts/Pagetitle.astro";
---

<Layout title="Creatures">
	<Pagetitle
		pagetitle="Существа"
	/>
<section class="image-gallery">
	<div class="image-row">
		<List
			enname="Goblin Balloon Brigade"
			link="/Collection/Creatures/goblin-balloon-brigade-lea"
			img="/images/scryfall/creatures/goblin-balloon-brigade-lea.jpg"
		/>
		<List
			enname="Goblin King"
			link="/Collection/Creatures/goblin-king-lea"
			img="/images/scryfall/creatures/goblin-king-lea.jpg"
		/>
	</div>
</section>
</Layout>