---
import Layout from "../../../layouts/Layout.astro";
import List from "../../../layouts/List.astro";
import Pagetitle from "../../../layouts/Pagetitle.astro";
---

<Layout title="Creatures">
	<Pagetitle pagetitle="Существа" />
	<section class="image-gallery">
		<div class="image-row">
			<List
				enname="Goblin Balloon Brigade"
				link="/Collection/Creatures/goblin-balloon-brigade-lea"
				img="/images/scryfall/creatures/goblin-balloon-brigade-lea.jpg"
			/>
			<List
				enname="Goblin King"
				link="/Collection/Creatures/goblin-king-lea"
				img="/images/scryfall/creatures/goblin-king-lea.jpg"
			/>
			<List
				enname="Mons's Goblin Raiders"
				link="/Collection/Creatures/mons-s-goblin-raiders-lea"
				img="/images/scryfall/creatures/mons-s-goblin-raiders-lea.jpg"
			/>
			<List
				enname="Goblin Artisans"
				link="/Collection/Creatures/goblin-artisans-atq"
				img="/images/scryfall/creatures/goblin-artisans-atq.jpg"
			/>
			<List
				enname="Goblin Digging Team"
				link="/Collection/Creatures/goblin-digging-team-drk"
				img="/images/scryfall/creatures/goblin-digging-team-drk.jpg"
			/>
			<List
				enname="Goblin Hero"
				link="/Collection/Creatures/goblin-hero-drk"
				img="/images/scryfall/creatures/goblin-hero-drk.jpg"
			/>
			<List
				enname="Goblin Rock Sled"
				link="/Collection/Creatures/goblin-rock-sled-drk"
				img="/images/scryfall/creatures/goblin-rock-sled-drk.jpg"
			/>
			<List
				enname="Goblin Wizard"
				link="/Collection/Creatures/goblin-wizard-drk"
				img="/images/scryfall/creatures/goblin-wizard-drk.jpg"
			/>
			<List
				enname="Goblins of the Flarg"
				link="/Collection/Creatures/goblins-of-the-flarg-drk"
				img="/images/scryfall/creatures/goblins-of-the-flarg-drk.jpg"
			/>
			<List
				enname="Marsh Goblins"
				link="/Collection/Creatures/marsh-goblins-drk"
				img="/images/scryfall/creatures/marsh-goblins-drk.jpg"
			/>
			<List
				enname="Scarwood Goblins"
				link="/Collection/Creatures/scarwood-goblins-drk"
				img="/images/scryfall/creatures/scarwood-goblins-drk.jpg"
			/>
			<List
				enname="Goblin Chirurgeon"
				link="/Collection/Creatures/goblin-chirurgeon-fem-54a"
				img="/images/scryfall/creatures/goblin-chirurgeon-fem-54a.jpg"
			/>
			<List
				enname="Goblin Flotilla"
				link="/Collection/Creatures/goblin-flotilla-fem"
				img="/images/scryfall/creatures/goblin-flotilla-fem.jpg"
			/>
			<List
				enname="Goblin Mutant"
				link="/Collection/Creatures/goblin-mutant-ice"
				img="/images/scryfall/creatures/goblin-mutant-ice.jpg"
			/>
			<List
				enname="Goblin Sappers"
				link="/Collection/Creatures/goblin-sappers-ice"
				img="/images/scryfall/creatures/goblin-sappers-ice.jpg"
			/>
			<List
				enname="Goblin Ski Patrol"
				link="/Collection/Creatures/goblin-ski-patrol-ice"
				img="/images/scryfall/creatures/goblin-ski-patrol-ice.jpg"
			/>
			<List
				enname="Goblin Snowman"
				link="/Collection/Creatures/goblin-snowman-ice"
				img="/images/scryfall/creatures/goblin-snowman-ice.jpg"
			/>
			<List
				enname="Enslaved Scout"
				link="/Collection/Creatures/enslaved-scout-all-71a"
				img="/images/scryfall/creatures/enslaved-scout-all-71a.jpg"
			/>
			<List
				enname="Goblin Elite Infantry"
				link="/Collection/Creatures/goblin-elite-infantry-mir"
				img="/images/scryfall/creatures/goblin-elite-infantry-mir.jpg"
			/>
			<List
				enname="Goblin Soothsayer"
				link="/Collection/Creatures/goblin-soothsayer-mir"
				img="/images/scryfall/creatures/goblin-soothsayer-mir.jpg"
			/>
			<List
				enname="Goblin Tinkerer"
				link="/Collection/Creatures/goblin-tinkerer-mir"
				img="/images/scryfall/creatures/goblin-tinkerer-mir.jpg"
			/>
			<List
				enname="Goblin Recruiter"
				link="/Collection/Creatures/goblin-recruiter-vis"
				img="/images/scryfall/creatures/goblin-recruiter-vis.jpg"
			/>
			<List
				enname="Goblin Swine-Rider"
				link="/Collection/Creatures/goblin-swine-rider-vis"
				img="/images/scryfall/creatures/goblin-swine-rider-vis.jpg"
			/>
			<List
				enname="Keeper of Kookus"
				link="/Collection/Creatures/keeper-of-kookus-vis"
				img="/images/scryfall/creatures/keeper-of-kookus-vis.jpg"
			/>
			<List
				enname="Goblin Bully"
				link="/Collection/Creatures/goblin-bully-por"
				img="/images/scryfall/creatures/goblin-bully-por.jpg"
			/>
			<List
				enname="Hulking Goblin"
				link="/Collection/Creatures/hulking-goblin-por"
				img="/images/scryfall/creatures/hulking-goblin-por.jpg"
			/>
			<List
				enname="Raging Goblin"
				link="/Collection/Creatures/raging-goblin-por"
				img="/images/scryfall/creatures/raging-goblin-por.jpg"
			/>
			<List
				enname="Goblin Grenadiers"
				link="/Collection/Creatures/goblin-grenadiers-wth"
				img="/images/scryfall/creatures/goblin-grenadiers-wth.jpg"
			/>
			<List
				enname="Goblin Vandal"
				link="/Collection/Creatures/goblin-vandal-wth"
				img="/images/scryfall/creatures/goblin-vandal-wth.jpg"
			/>
			<List
				enname="Mogg Conscripts"
				link="/Collection/Creatures/mogg-conscripts-tmp"
				img="/images/scryfall/creatures/mogg-conscripts-tmp.jpg"
			/>
			<List
				enname="Mogg Fanatic"
				link="/Collection/Creatures/mogg-fanatic-tmp"
				img="/images/scryfall/creatures/mogg-fanatic-tmp.jpg"
			/>
			<List
				enname="Mogg Raider"
				link="/Collection/Creatures/mogg-raider-tmp"
				img="/images/scryfall/creatures/mogg-raider-tmp.jpg"
			/>
			<List
				enname="Mogg Squad"
				link="/Collection/Creatures/mogg-squad-tmp"
				img="/images/scryfall/creatures/mogg-squad-tmp.jpg"
			/>
			<List
				enname="Mogg Bombers"
				link="/Collection/Creatures/mogg-bombers-sth"
				img="/images/scryfall/creatures/mogg-bombers-sth.jpg"
			/>
			<List
				enname="Mogg Flunkies"
				link="/Collection/Creatures/mogg-flunkies-sth"
				img="/images/scryfall/creatures/mogg-flunkies-sth.jpg"
			/>
			<List
				enname="Mogg Maniac"
				link="/Collection/Creatures/mogg-maniac-sth"
				img="/images/scryfall/creatures/mogg-maniac-sth.jpg"
			/>
			<List
				enname="Mogg Assassin"
				link="/Collection/Creatures/mogg-assassin-exo"
				img="/images/scryfall/creatures/mogg-assassin-exo.jpg"
			/>
			<List
				enname="Goblin Cavaliers"
				link="/Collection/Creatures/goblin-cavaliers-p02"
				img="/images/scryfall/creatures/goblin-cavaliers-p02.jpg"
			/>
			<List
				enname="Goblin Firestarter"
				link="/Collection/Creatures/goblin-firestarter-p02"
				img="/images/scryfall/creatures/goblin-firestarter-p02.jpg"
			/>
			<List
				enname="Goblin General"
				link="/Collection/Creatures/goblin-general-p02"
				img="/images/scryfall/creatures/goblin-general-p02.jpg"
			/>
			<List
				enname="Goblin Glider"
				link="/Collection/Creatures/goblin-glider-p02"
				img="/images/scryfall/creatures/goblin-glider-p02.jpg"
			/>
			<List
				enname="Goblin Matron"
				link="/Collection/Creatures/goblin-matron-p02"
				img="/images/scryfall/creatures/goblin-matron-p02.jpg"
			/>
			<List
				enname="Goblin Mountaineer"
				link="/Collection/Creatures/goblin-mountaineer-p02"
				img="/images/scryfall/creatures/goblin-mountaineer-p02.jpg"
			/>
			<List
				enname="Goblin Piker"
				link="/Collection/Creatures/goblin-piker-p02"
				img="/images/scryfall/creatures/goblin-piker-p02.jpg"
			/>
			<List
				enname="Goblin Raider"
				link="/Collection/Creatures/goblin-raider-p02"
				img="/images/scryfall/creatures/goblin-raider-p02.jpg"
			/>
			<List
				enname="Goblin Bookie"
				link="/Collection/Creatures/goblin-bookie-ugl"
				img="/images/scryfall/creatures/goblin-bookie-ugl.jpg"
			/>
			<List
				enname="Goblin Bowling Team"
				link="/Collection/Creatures/goblin-bowling-team-ugl"
				img="/images/scryfall/creatures/goblin-bowling-team-ugl.jpg"
			/>
			<List
				enname="Goblin Cadets"
				link="/Collection/Creatures/goblin-cadets-usg"
				img="/images/scryfall/creatures/goblin-cadets-usg.jpg"
			/>
			<List
				enname="Goblin Lackey"
				link="/Collection/Creatures/goblin-lackey-usg"
				img="/images/scryfall/creatures/goblin-lackey-usg.jpg"
			/>
			<List
				enname="Goblin Patrol"
				link="/Collection/Creatures/goblin-patrol-usg"
				img="/images/scryfall/creatures/goblin-patrol-usg.jpg"
			/>
			<List
				enname="Goblin Spelunkers"
				link="/Collection/Creatures/goblin-spelunkers-usg"
				img="/images/scryfall/creatures/goblin-spelunkers-usg.jpg"
			/>
			<List
				enname="Goblin War Buggy"
				link="/Collection/Creatures/goblin-war-buggy-usg"
				img="/images/scryfall/creatures/goblin-war-buggy-usg.jpg"
			/>
			<List
				enname="Okk"
				link="/Collection/Creatures/okk-usg"
				img="/images/scryfall/creatures/okk-usg.jpg"
			/>
			<List
				enname="Goblin Medics"
				link="/Collection/Creatures/goblin-medics-ulg"
				img="/images/scryfall/creatures/goblin-medics-ulg.jpg"
			/>
			<List
				enname="Goblin Welder"
				link="/Collection/Creatures/goblin-welder-ulg"
				img="/images/scryfall/creatures/goblin-welder-ulg.jpg"
			/>
			<List
				enname="Goblin Berserker"
				link="/Collection/Creatures/goblin-berserker-uds"
				img="/images/scryfall/creatures/goblin-berserker-uds.jpg"
			/>
			<List
				enname="Goblin Gardener"
				link="/Collection/Creatures/goblin-gardener-uds"
				img="/images/scryfall/creatures/goblin-gardener-uds.jpg"
			/>
			<List
				enname="Goblin Marshal"
				link="/Collection/Creatures/goblin-marshal-uds"
				img="/images/scryfall/creatures/goblin-marshal-uds.jpg"
			/>
			<List
				enname="Goblin Masons"
				link="/Collection/Creatures/goblin-masons-uds"
				img="/images/scryfall/creatures/goblin-masons-uds.jpg"
			/>
			<List
				enname="Goblin Chariot"
				link="/Collection/Creatures/goblin-chariot-s99"
				img="/images/scryfall/creatures/goblin-chariot-s99.jpg"
			/>
			<List
				enname="Goblin Commando"
				link="/Collection/Creatures/goblin-commando-s99"
				img="/images/scryfall/creatures/goblin-commando-s99.jpg"
			/>
			<List
				enname="Goblin Settler"
				link="/Collection/Creatures/goblin-settler-s99"
				img="/images/scryfall/creatures/goblin-settler-s99.jpg"
			/>
			<List
				enname="Arms Dealer"
				link="/Collection/Creatures/arms-dealer-mmq"
				img="/images/scryfall/creatures/arms-dealer-mmq.jpg"
			/>
			<List
				enname="Battle Squadron"
				link="/Collection/Creatures/battle-squadron-mmq"
				img="/images/scryfall/creatures/battle-squadron-mmq.jpg"
			/>
			<List
				enname="Kyren Glider"
				link="/Collection/Creatures/kyren-glider-mmq"
				img="/images/scryfall/creatures/kyren-glider-mmq.jpg"
			/>
			<List
				enname="Kyren Legate"
				link="/Collection/Creatures/kyren-legate-mmq"
				img="/images/scryfall/creatures/kyren-legate-mmq.jpg"
			/>
			<List
				enname="Kyren Sniper"
				link="/Collection/Creatures/kyren-sniper-mmq"
				img="/images/scryfall/creatures/kyren-sniper-mmq.jpg"
			/>
			<List
				enname="Squee, Goblin Nabob"
				link="/Collection/Creatures/squee-goblin-nabob-mmq"
				img="/images/scryfall/creatures/squee-goblin-nabob-mmq.jpg"
			/>
			<List
				enname="Mogg Toady"
				link="/Collection/Creatures/mogg-toady-nem"
				img="/images/scryfall/creatures/mogg-toady-nem.jpg"
			/>
			<List
				enname="Shrieking Mogg"
				link="/Collection/Creatures/shrieking-mogg-nem"
				img="/images/scryfall/creatures/shrieking-mogg-nem.jpg"
			/>
			<List
				enname="Goblin Spy"
				link="/Collection/Creatures/goblin-spy-inv"
				img="/images/scryfall/creatures/goblin-spy-inv.jpg"
			/>
			<List
				enname="Mogg Jailer"
				link="/Collection/Creatures/mogg-jailer-pls"
				img="/images/scryfall/creatures/mogg-jailer-pls.jpg"
			/>
			<List
				enname="Mogg Sentry"
				link="/Collection/Creatures/mogg-sentry-pls"
				img="/images/scryfall/creatures/mogg-sentry-pls.jpg"
			/>
			<List
				enname="Slingshot Goblin"
				link="/Collection/Creatures/slingshot-goblin-pls"
				img="/images/scryfall/creatures/slingshot-goblin-pls.jpg"
			/>
			<List
				enname="Goblin Ringleader"
				link="/Collection/Creatures/goblin-ringleader-apc"
				img="/images/scryfall/creatures/goblin-ringleader-apc.jpg"
			/>
			<List
				enname="Goblin Legionnaire"
				link="/Collection/Creatures/goblin-legionnaire-apc"
				img="/images/scryfall/creatures/goblin-legionnaire-apc.jpg"
			/>
			<List
				enname="Razorfin Hunter"
				link="/Collection/Creatures/razorfin-hunter-apc"
				img="/images/scryfall/creatures/razorfin-hunter-apc.jpg"
			/>
			<List
				enname="Festering Goblin"
				link="/Collection/Creatures/festering-goblin-ons"
				img="/images/scryfall/creatures/festering-goblin-ons.jpg"
			/>
			<List
				enname="Embermage Goblin"
				link="/Collection/Creatures/embermage-goblin-ons"
				img="/images/scryfall/creatures/embermage-goblin-ons.jpg"
			/>
			<List
				enname="Flamestick Courier"
				link="/Collection/Creatures/flamestick-courier-ons"
				img="/images/scryfall/creatures/flamestick-courier-ons.jpg"
			/>
			<List
				enname="Goblin Machinist"
				link="/Collection/Creatures/goblin-machinist-ons"
				img="/images/scryfall/creatures/goblin-machinist-ons.jpg"
			/>
			<List
				enname="Goblin Piledriver"
				link="/Collection/Creatures/goblin-piledriver-ons"
				img="/images/scryfall/creatures/goblin-piledriver-ons.jpg"
			/>
			<List
				enname="Goblin Pyromancer"
				link="/Collection/Creatures/goblin-pyromancer-ons"
				img="/images/scryfall/creatures/goblin-pyromancer-ons.jpg"
			/>
			<List
				enname="Goblin Sharpshooter"
				link="/Collection/Creatures/goblin-sharpshooter-ons"
				img="/images/scryfall/creatures/goblin-sharpshooter-ons.jpg"
			/>
			<List
				enname="Goblin Sky Raider"
				link="/Collection/Creatures/goblin-sky-raider-ons"
				img="/images/scryfall/creatures/goblin-sky-raider-ons.jpg"
			/>
			<List
				enname="Goblin Sledder"
				link="/Collection/Creatures/goblin-sledder-ons"
				img="/images/scryfall/creatures/goblin-sledder-ons.jpg"
			/>
			<List
				enname="Goblin Taskmaster"
				link="/Collection/Creatures/goblin-taskmaster-ons"
				img="/images/scryfall/creatures/goblin-taskmaster-ons.jpg"
			/>
			<List
				enname="Nosy Goblin"
				link="/Collection/Creatures/nosy-goblin-ons"
				img="/images/scryfall/creatures/nosy-goblin-ons.jpg"
			/>
			<List
				enname="Reckless One"
				link="/Collection/Creatures/reckless-one-ons"
				img="/images/scryfall/creatures/reckless-one-ons.jpg"
			/>
			<List
				enname="Skirk Commando"
				link="/Collection/Creatures/skirk-commando-ons"
				img="/images/scryfall/creatures/skirk-commando-ons.jpg"
			/>
			<List
				enname="Skirk Fire Marshal"
				link="/Collection/Creatures/skirk-fire-marshal-ons"
				img="/images/scryfall/creatures/skirk-fire-marshal-ons.jpg"
			/>
			<List
				enname="Skirk Prospector"
				link="/Collection/Creatures/skirk-prospector-ons"
				img="/images/scryfall/creatures/skirk-prospector-ons.jpg"
			/>
			<List
				enname="Sparksmith"
				link="/Collection/Creatures/sparksmith-ons"
				img="/images/scryfall/creatures/sparksmith-ons.jpg"
			/>
			<List
				enname="Spitfire Handler"
				link="/Collection/Creatures/spitfire-handler-ons"
				img="/images/scryfall/creatures/spitfire-handler-ons.jpg"
			/>
			<List
				enname="Goblin Turncoat"
				link="/Collection/Creatures/goblin-turncoat-lgn"
				img="/images/scryfall/creatures/goblin-turncoat-lgn.jpg"
			/>
			<List
				enname="Flamewave Invoker"
				link="/Collection/Creatures/flamewave-invoker-lgn"
				img="/images/scryfall/creatures/flamewave-invoker-lgn.jpg"
			/>
			<List
				enname="Gempalm Incinerator"
				link="/Collection/Creatures/gempalm-incinerator-lgn"
				img="/images/scryfall/creatures/gempalm-incinerator-lgn.jpg"
			/>
			<List
				enname="Goblin Assassin"
				link="/Collection/Creatures/goblin-assassin-lgn"
				img="/images/scryfall/creatures/goblin-assassin-lgn.jpg"
			/>
			<List
				enname="Goblin Clearcutter"
				link="/Collection/Creatures/goblin-clearcutter-lgn"
				img="/images/scryfall/creatures/goblin-clearcutter-lgn.jpg"
			/>
			<List
				enname="Goblin Dynamo"
				link="/Collection/Creatures/goblin-dynamo-lgn"
				img="/images/scryfall/creatures/goblin-dynamo-lgn.jpg"
			/>
			<List
				enname="Goblin Firebug"
				link="/Collection/Creatures/goblin-firebug-lgn"
				img="/images/scryfall/creatures/goblin-firebug-lgn.jpg"
			/>
			<List
				enname="Goblin Goon"
				link="/Collection/Creatures/goblin-goon-lgn"
				img="/images/scryfall/creatures/goblin-goon-lgn.jpg"
			/>
			<List
				enname="Goblin Grappler"
				link="/Collection/Creatures/goblin-grappler-lgn"
				img="/images/scryfall/creatures/goblin-grappler-lgn.jpg"
			/>
			<List
				enname="Goblin Lookout"
				link="/Collection/Creatures/goblin-lookout-lgn"
				img="/images/scryfall/creatures/goblin-lookout-lgn.jpg"
			/>
			<List
				enname="Skirk Drill Sergeant"
				link="/Collection/Creatures/skirk-drill-sergeant-lgn"
				img="/images/scryfall/creatures/skirk-drill-sergeant-lgn.jpg"
			/>
			<List
				enname="Skirk Marauder"
				link="/Collection/Creatures/skirk-marauder-lgn"
				img="/images/scryfall/creatures/skirk-marauder-lgn.jpg"
			/>
			<List
				enname="Skirk Outrider"
				link="/Collection/Creatures/skirk-outrider-lgn"
				img="/images/scryfall/creatures/skirk-outrider-lgn.jpg"
			/>
			<List
				enname="Unstable Hulk"
				link="/Collection/Creatures/unstable-hulk-lgn"
				img="/images/scryfall/creatures/unstable-hulk-lgn.jpg"
			/>
			<List
				enname="Warbreak Trumpeter"
				link="/Collection/Creatures/warbreak-trumpeter-lgn"
				img="/images/scryfall/creatures/warbreak-trumpeter-lgn.jpg"
			/>
			<List
				enname="Goblin Brigand"
				link="/Collection/Creatures/goblin-brigand-scg"
				img="/images/scryfall/creatures/goblin-brigand-scg.jpg"
			/>
			<List
				enname="Goblin Psychopath"
				link="/Collection/Creatures/goblin-psychopath-scg"
				img="/images/scryfall/creatures/goblin-psychopath-scg.jpg"
			/>
			<List
				enname="Goblin Warchief"
				link="/Collection/Creatures/goblin-warchief-scg"
				img="/images/scryfall/creatures/goblin-warchief-scg.jpg"
			/>
			<List
				enname="Rock Jockey"
				link="/Collection/Creatures/rock-jockey-scg"
				img="/images/scryfall/creatures/rock-jockey-scg.jpg"
			/>
			<List
				enname="Siege-Gang Commander"
				link="/Collection/Creatures/siege-gang-commander-scg"
				img="/images/scryfall/creatures/siege-gang-commander-scg.jpg"
			/>
			<List
				enname="Skirk Volcanist"
				link="/Collection/Creatures/skirk-volcanist-scg"
				img="/images/scryfall/creatures/skirk-volcanist-scg.jpg"
			/>
			<List
				enname="Goblin Striker"
				link="/Collection/Creatures/goblin-striker-mrd"
				img="/images/scryfall/creatures/goblin-striker-mrd.jpg"
			/>
			<List
				enname="Krark-Clan Grunt"
				link="/Collection/Creatures/krark-clan-grunt-mrd"
				img="/images/scryfall/creatures/krark-clan-grunt-mrd.jpg"
			/>
			<List
				enname="Krark-Clan Shaman"
				link="/Collection/Creatures/krark-clan-shaman-mrd"
				img="/images/scryfall/creatures/krark-clan-shaman-mrd.jpg"
			/>
			<List
				enname="Spikeshot Goblin"
				link="/Collection/Creatures/spikeshot-goblin-mrd"
				img="/images/scryfall/creatures/spikeshot-goblin-mrd.jpg"
			/>
			<List
				enname="Goblin Replica"
				link="/Collection/Creatures/goblin-replica-mrd"
				img="/images/scryfall/creatures/goblin-replica-mrd.jpg"
			/>
			<List
				enname="Crazed Goblin"
				link="/Collection/Creatures/crazed-goblin-dst"
				img="/images/scryfall/creatures/crazed-goblin-dst.jpg"
			/>
			<List
				enname="Goblin Archaeologist"
				link="/Collection/Creatures/goblin-archaeologist-dst"
				img="/images/scryfall/creatures/goblin-archaeologist-dst.jpg"
			/>
			<List
				enname="Slobad, Goblin Tinkerer"
				link="/Collection/Creatures/slobad-goblin-tinkerer-dst"
				img="/images/scryfall/creatures/slobad-goblin-tinkerer-dst.jpg"
			/>
			<List
				enname="Goblin Brawler"
				link="/Collection/Creatures/goblin-brawler-5dn"
				img="/images/scryfall/creatures/goblin-brawler-5dn.jpg"
			/>
			<List
				enname="Krark-Clan Engineers"
				link="/Collection/Creatures/krark-clan-engineers-5dn"
				img="/images/scryfall/creatures/krark-clan-engineers-5dn.jpg"
			/>
			<List
				enname="Akki Avalanchers"
				link="/Collection/Creatures/akki-avalanchers-chk"
				img="/images/scryfall/creatures/akki-avalanchers-chk.jpg"
			/>
			<List
				enname="Akki Coalflinger"
				link="/Collection/Creatures/akki-coalflinger-chk"
				img="/images/scryfall/creatures/akki-coalflinger-chk.jpg"
			/>
			<List
				enname="Akki Lavarunner"
				link="/Collection/Creatures/akki-lavarunner-chk"
				img="/images/scryfall/creatures/akki-lavarunner-chk.jpg"
			/>
			<List
				enname="Akki Rockspeaker"
				link="/Collection/Creatures/akki-rockspeaker-chk"
				img="/images/scryfall/creatures/akki-rockspeaker-chk.jpg"
			/>
			<List
				enname="Akki Underminer"
				link="/Collection/Creatures/akki-underminer-chk"
				img="/images/scryfall/creatures/akki-underminer-chk.jpg"
			/>
			<List
				enname="Ben-Ben, Akki Hermit"
				link="/Collection/Creatures/ben-ben-akki-hermit-chk"
				img="/images/scryfall/creatures/ben-ben-akki-hermit-chk.jpg"
			/>
			<List
				enname="Kiki-Jiki, Mirror Breaker"
				link="/Collection/Creatures/kiki-jiki-mirror-breaker-chk"
				img="/images/scryfall/creatures/kiki-jiki-mirror-breaker-chk.jpg"
			/>
			<List
				enname="Zo-Zu the Punisher"
				link="/Collection/Creatures/zo-zu-the-punisher-chk"
				img="/images/scryfall/creatures/zo-zu-the-punisher-chk.jpg"
			/>
			<List
				enname="Goblin Mime"
				link="/Collection/Creatures/goblin-mime-unh"
				img="/images/scryfall/creatures/goblin-mime-unh.jpg"
			/>
			<List
				enname="Goblin Secret Agent"
				link="/Collection/Creatures/goblin-secret-agent-unh"
				img="/images/scryfall/creatures/goblin-secret-agent-unh.jpg"
			/>
			<List
				enname="Goblin S.W.A.T. Team"
				link="/Collection/Creatures/goblin-s-w-a-t-team-unh"
				img="/images/scryfall/creatures/goblin-s-w-a-t-team-unh.jpg"
			/>
			<List
				enname="Mons's Goblin Waiters"
				link="/Collection/Creatures/mons-s-goblin-waiters-unh"
				img="/images/scryfall/creatures/mons-s-goblin-waiters-unh.jpg"
			/>
			<List
				enname="Akki Blizzard-Herder"
				link="/Collection/Creatures/akki-blizzard-herder-bok"
				img="/images/scryfall/creatures/akki-blizzard-herder-bok.jpg"
			/>
			<List
				enname="Akki Raider"
				link="/Collection/Creatures/akki-raider-bok"
				img="/images/scryfall/creatures/akki-raider-bok.jpg"
			/>
			<List
				enname="Goblin Cohort"
				link="/Collection/Creatures/goblin-cohort-bok"
				img="/images/scryfall/creatures/goblin-cohort-bok.jpg"
			/>
			<List
				enname="Ishi-Ishi, Akki Crackshot"
				link="/Collection/Creatures/ishi-ishi-akki-crackshot-bok"
				img="/images/scryfall/creatures/ishi-ishi-akki-crackshot-bok.jpg"
			/>
			<List
				enname="Akki Drillmaster"
				link="/Collection/Creatures/akki-drillmaster-sok"
				img="/images/scryfall/creatures/akki-drillmaster-sok.jpg"
			/>
			<List
				enname="Akki Underling"
				link="/Collection/Creatures/akki-underling-sok"
				img="/images/scryfall/creatures/akki-underling-sok.jpg"
			/>
		</div>
	</section>
</Layout>
