---
import Layout from "../../../layouts/Layout.astro";
import Card from "../../../layouts/Card.astro";
---

<Layout title="Mons's Goblin Waiters">
	<Card
		img="/images/scryfall/creatures/mons-s-goblin-waiters-unh.jpg"
		enname="Mons's Goblin Waiters"
		runame="Гоблин-официанты Монса"
		prints="Unhinged (2004)"
		illustrated="Pete Venters"
		link="https://scryfall.com/search?q=a%3A%E2%80%9CPete+Venters%E2%80%9D&order=released&dir=asc&unique=art"
		flavor="Яйца Рух пашот \n Рок \n Приготовленный камень \n Единорог-на-початке \n Черепаший суп из червивых клыков"
		thanks=""
		other=""
	>
		<>
			<p style="text-indent:2em">
				Пародия на оригинальную иллюстрацию <a
					href="/Collection/Creatures/mons-s-goblin-raiders-lea"
				>
					Mons's Goblin Raiders</a
				>.
			</p>
		</>
	</Card>
</Layout>
