---
import Layout from "../layouts/Layout.astro";
import Pagetitle from "../layouts/Pagetitle.astro";
import Othertext from "../layouts/Othertext.astro";
// import Picture from "../layouts/Picture.astro";
---

<Layout title="Goblin Party">
	<Pagetitle pagetitle="Welcome!" />
	<Othertext
		text="(К сожалению, сейчас очень мало времени, поэтому обновляю только вишлист =( )"
	/>
	<Othertext
		text="На данном сайте размещена моя коллекция гоблинов карточной игры Magic: The Gathering (плейнсвокеры, токены и существа)."
	/>
	<Othertext
		text="Цель коллекции - собрать все уникальные карты гоблинов, а факультативно - и карты с их изображением, которые когда либо издавались в нашей любимой игре. Под критерии уникальности попадают:"
	/>
	<Othertext
		text="- первое издание (фоил и русский язык, если это возможно);"
	/>
	<Othertext
		text="- первое издание на русском языке (фоил, если это возможно);"
	/>
	<Othertext
		text="- новый рисунок, художественный текст, изменение подтипа карты или все эти изменения вместе (фоил и русский язык, если это возможно);"
	/>
	<Othertext
		text="- исправления ошибок на картах (фоил и русский язык, если это возможно);"
	/>
	<Othertext text="- артистпруфы." />
	<Othertext
		text="И, безусловно, хотелось бы в будущем подписать каждую карту у художников =)"
	/>
	<Othertext
		text="Если в альбомах коллекцию систематизировать оказалось тяжело, то благодаря сайту появилась отличная возможность наглядно продемонстрировать, как менялась карта (да и сама MtG) от издания к изданию - дизайн, изображения, художественный текст."
	/>
	<Othertext
		text="Большое спасибо всем, кто помогал в пополнении коллекции! Если вы не увидели свое имя рядом с картой, которую мне передали, то свяжитесь со мной, пожалуйста. Я очень ценю ваше желание помочь и проблема только в моей невнимательности."
	/>
	<p class="centered">Отдельное спасибо:</p>
	<Othertext
		text="Владимиру Коршунову за то, что учил, помогал, настраивал и терпел;"
	/>
	<Othertext
		text="Ивану Макаренко за помощь в возвращении русскоязычных эмигрантов обратно."
	/>
</Layout>

<style>
	.centered {
		text-align: center;
		max-width: 800px;
		margin: 0 auto;
	}
</style>
