---
// import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Pagetitle from "../layouts/Pagetitle.astro";
import Othertext from "../layouts/Othertext.astro";
import Picture from "../layouts/Picture.astro";
import Card from "../layouts/Card.astro";
---

<Layout title="Главная">
	<Pagetitle
	pagetitle="Добро пожаловать на мой сайт!"
	/>
	<Othertext
	text="Тут размещены фотографии из моей коллекции гоблинов и продажные женщины"
	/>
	<Card
		img="/images/scryfall/tokens/goblin-l12.jpg"
		enname=""
		runame=""
		prints=""
		illustrated=""
		link=""
		flavor=""
		thanks=""
		other="В целях позволить игрокам играть по их собственному расписанию в 2012 году с релизом издания Magic 2013 была запущена Сезонная лига (Magic League) - официальный турнир, который проводился в течение нескольких дней или недель, а не одного вечера. Призом для 10 лучших финалистов лиги была эксклюзивная токен-карта. В 2019 году лига была распущена."
	/>
	<Card
	img="/images/scryfall/tokens/goblin.jpg"
	enname=""
	runame=""
	prints=""
	illustrated=""
	link=""
	flavor=""
	thanks=""
	other="В целях позволить игрокам играть по их собственному расписанию в 2012 году с релизом издания Magic 2013 была запущена Сезонная лига (Magic League) - официальный турнир, который проводился в течение нескольких дней или недель, а не одного вечера. Призом для 10 лучших финалистов лиги была эксклюзивная токен-карта. В 2019 году лига была распущена."
/>
	<Othertext
		text="ТЕКСТ ДЛЯ ТЕСТА апваап вапапва вапвапавпа ода в Восьмом издании дизайн карт поменялся (т.н. модерновый борд), а вместе с ним поменялся и дизайн токенов. Название токена, тип, символ издания, сила и выносливость помещены в собственные поля, чтобы выделить их из рамки карты и улучшить читаемость. Если токен был без способностей, то текстовое поле удалялось, что позволяло увеличить иллюстрацию. Внизу карты был добавлен коллекционный номер. \n 2005 год подарил нам Девятое издание и перевод на русский язык как карт, так и токенов, а 2007 год - первого токена Гоблина на ру"
	/>
	<Picture
		picture="/images/test.jpg"
	/>
	<p class="centered">Большое спасибо:</p>
	<Othertext
	text="Зайке Попрыгайке за то, что терпела меня"
	/>
	<Picture
	picture="/images/test.jpg"
	/>
	<Othertext
	text="Лисичке Сестричке за тра ля ля и тру ля ля"
	/>
	<Othertext
	text="Волчку Серому Бочку за ыва ыва ыва  ываыва ыавыва ываыва"
	/>
</Layout>

<style>
	.centered {
		text-align: center;
		max-width: 800px;
		margin: 0 auto;
	}
</style>
