---
import Layout from "../../../../layouts/Layout.astro";
import List from "../../../../layouts/List.astro";
import Pagetitle from "../../../../layouts/Pagetitle.astro";
import Othertext from "../../../../layouts/Othertext.astro";
---

<Layout title="Custom tokens">
	<Pagetitle pagetitle="Неофициальные токены" />
	<Othertext
		text="Здесь собраны токены гоблинов, которые выдавались участикам различных турниров, распространялись магазинами настольных игр, а также созданные художниками Wizards of the Coast в рамках своих кампаний."
	/>
	<section class="image-gallery">
		<div class="image-row">
			<List
				enname="Пять! (пионер)"
				link="/Collection/Tokens/Custom/five"
				img="/images/photos/tokens/custom/five_2025_pioner.jpg"
			/>
			<List
				enname="Пять! (паупер)"
				link="/Collection/Tokens/Custom/five-pauper"
				img="/images/photos/tokens/custom/five_2025.jpg"
			/>
			<List
				enname="Огонек 2024"
				link="/Collection/Tokens/Custom/ogonyek2024"
				img="/images/scryfall/tokens/custom/ogonyek2024.jpg"
			/>
			<List
				enname="Pauper Winter Cup 2024"
				link="/Collection/Tokens/Custom/pauper-winter-cup-2024"
				img="/images/photos/tokens/custom/Pauper-Winter-Cup-2024.jpg"
			/>
			<List
				enname="Eternal Weekend 2023"
				link="/Collection/Tokens/Custom/eternal-weekend-2023"
				img="/images/photos/tokens/custom/EternalWeekend2023.jpg"
			/>
			<List
				enname="unknown"
				link="/Collection/Tokens/Custom/unknown"
				img="/images/photos/tokens/custom/unknown.jpg"
			/>
			<List
				enname="Spellmarket ???"
				link="/Collection/Tokens/Custom/spellmarket"
				img="/images/photos/tokens/custom/Spellmarket.jpg"
			/>
			<List
				enname="Paupercalypse 2022"
				link="/Collection/Tokens/Custom/paupercalypse2022"
				img="/images/scryfall/tokens/custom/Paupercalypse.jpg"
			/>
			<List
				enname="Tokens of Spirit"
				link="/Collection/Tokens/Custom/nelson"
				img="/images/scryfall/tokens/custom/nelson.jpg"
			/>
		</div>
	</section>
</Layout>
