---
// import "../styles/global.css";
// import { Image } from 'astro:assets';
// import Scrollcard from "../../../layouts/Scrollcard.astro";

// interface Props {
// 	enname: string;
// 	img: string;
// 	link: string;
// }

// const { img, enname, link } = Astro.props;
---


<div class="horizontal-scroll-container">
		<div class="scroll-content">
			<slot />
		</div>
</div>


<style>
	.horizontal-scroll-container {
		max-width: 800px;
		margin: 0 auto; 
    	overflow-x: auto; /* Enable horizontal scrolling */
    	white-space: nowrap; /* Prevent items from wrapping */
    	padding: 20px 0;
		text-align: center;
	}
</style>